

@media only screen and (max-width: 590px){
    .headshot{
        float: inherit !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.bio{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}