body{
  padding-top: 8px;
  background-color: #b8d8f3;
}

#me{
  font-family: 'Gilda Display', serif;
  font-size: 22px;
  padding: 0.370em 0.1em;
  font-weight: 800;
}

a {
  color: #db63a9;
}

a:hover{
  color: #e04c9d;
}