.footer-divider{
    margin-top: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-top-color: rgba(34, 36, 38, 0.15);
    border-top-width: 2px;
    border-top-style: solid;
    text-align: center;
  }
  
  .icon-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .icon-row i:hover{
    color: #111 !important;
    opacity: 0.8 !important;
  }
  
  .email{
    margin-top: 8px;
  }